.account {
	padding-bottom: 90px;
	&-title {
		padding-top: 50px;
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		font-size: 36px;
		color: $primary-black;
		text-align: center;
	}

	&-item {
		margin-top: 100px;
		clear: both;
	}

	&-button {
		margin: 40px 73px 0 0;
		display: inline;
		float: left;
		@include media ($mobile) {
			margin: 40px 20px 0 0;
		}

		input[type="radio"] + label span {
			display: inline-block;
			width: 50px;
			height: 50px;
			margin: -1px 4px 0 0;
			vertical-align: middle;
			background: url(../img/account-radio.png) 0 2px no-repeat;
			cursor: pointer;
		}
		input[type="radio"]:checked + label span {
			background: url(../img/account-radio.png) -68px 2px no-repeat;
		}
	}

	&-radio {
		display: none;
	}


	&-photo {
		float: left;
		display: inline-block;
		width: 125px;
		height: 125px;
		background: url(../img/account-photo.jpg) 30% 5% no-repeat;
		border-radius: 70px;
		margin-right: 50px;
		@include media ($mobile) {
			margin-right: 10px;
		}		
	}

	&-name {
		padding: 7px 0 12px;
		display: block;
		color: #01c7d9;
		font-family: 'Lato', sans-serif;
		font-size: 33.33px;
		font-weight: 600;
		@include media ($mobile) {
			padding: 42px 20px 65px;
			font-size: 24px;
		}
	}

	&-descr {
		color: $primary-black;
		font-family: 'Lato', sans-serif;
		font-size: 20px;
		font-weight: bold;
		@include media ($mobile) {
			padding-left: 20px;
			font-size: 16.67px;
		}
	}
}