$mobile: new-breakpoint(max-width 767px 12);
$tablet: new-breakpoint(max-width 960px 12);
$desk: new-breakpoint(max-width 1276px 12);
$predesk: new-breakpoint(max-width 1126px 12);
$primary-blue: #4bcaff;
$primary-black: #414042;
$primary-grey: #838383;
